<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhisheknandi.sampleapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />

        <meta-data android:name="LOCALYTICS_APP_KEY" android:value="b5e858808813a6e979b5db3-05f001e8-00df-11e6-437b-00adad38bc8d"/>

        <receiver
            android:name="com.localytics.android.ReferralReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity android:name="com.localytics.android.PushTrackingActivity"/>


        <!-- If you have specified applicationId in build.gradle file then replace [YOUR_PACKAGE_NAME] with applicationId-->
        <!-- MOENGAGE RECEIVER FOR RECEIVING INSTALLATION INTENT -->
        <receiver android:name="com.moe.pushlibrary.InstallReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!-- MOENGAGE RECEIVER FOR RECEIVING APP UPDATE INTENT -->
        <receiver android:name="com.moe.pushlibrary.AppUpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data
                    android:path="com.abhisheknandi.sampleapp"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- The underlying content provider -->
        <provider android:name="com.moe.pushlibrary.providers.MoEProvider"
                  android:authorities="com.abhisheknandi.sampleapp.moengage.provider"
                  android:exported="false" />

        <meta-data
            android:name="APP_ID"
            android:value="DAO6UGZ73DXXTK7BXX96TPXX" />


        <!-- MANDATORY FIELD: SENDER ID , i.e. THE PROJECT NUMBER AS MENTIONED ON GOOGLE CLOUD CONSOLE PROJECTS PAGE -->
        <meta-data
            android:name="SKIP_GCM_REGISTRATION"
            android:value="true" />

        <!-- MANDATORY FIELD: THE NOTIFICATION SMALL ICON WHICH WILL BE USED TO SET TO NOTIFICATIONS POSTED -->
        <meta-data
            android:name="NOTIFICATION_ICON"
            android:value="@drawable/ic_notification_icon" />

        <activity
            android:name="com.moe.pushlibrary.activities.MoEActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
